# Terraform
.terraform
*.tfstate
*.tfstate.*
*.tfvars
**/*.tfplan
*secret*.tfvars
*secret*.tfvars.json
!sealed-secrets.auto.tfvars
*.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

output/
*.out
outputs.json

# Talos secrets
infrastructure/talos/secrets/
infrastructure/talos/talosconfig

crash.log
*.log
logs.txt
.DS_Store
Thumbs.db
*.qcow2
*.raw
*.cert
*.key
*.pem
*.crt
*.swp
