machine:
  kernel:
    modules:
      - name: nbd
      - name: iscsi_tcp
      - name: iscsi_generic
      - name: configfs
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: ${mac_address}
        addresses:
          - ${ip}/${subnet_mask}
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway}
        dhcp: false
